#about
    .textbox
        h1
            font-size: 40px
            font-weight: 700
            color: #000000ff
        h3
            font-size: 20px
            color: #929292ff
            margin: 10px
    .box
        .textbox
            margin: 40px
            h2
                font-size: 30px
                font-weight: 700
                color: #000000ff
                width: 300px
            p
                font-size: 20px
                margin: 10px 0
                color: #9e9e9eff
                width: 300px
        .imgbox
            img
                border-radius: 50%
                border: 7px solid #e2e0e0ff
