#contact
    padding: 70px
    height: 100vh
    background-color: #252525ff
    background-image: url("assets/map-image.png")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

    .textbox
        h1
            font-size: 40px
            font-weight: 700
            color: #ffffff
            margin: 20px
        h3
            font-size: 25px
            color: #47575cff
            margin: 10px
    .box
        width: 400px
        input
            margin: 5px
            height: 65px
            width: 450px
        textarea
            border-radius: 5px

.btn
    h2
        color: #ffffff
        background-color: #ffd23dff
        font-size: 20px
        font-weight: 700
        padding: 20px 45px
        border-radius: 5px
