header
    .fixed
        position: fixed
        top:0
        right:0
        left: 0    
        background-color: #212529
        .menu
            display: flex
            justify-content: space-around
            .imgbox
                img
                    width: 150px
                    height: 150px
        nav
            margin-top: 60px
            a
                cursor: pointer
                font-size: 20px
                color: #ffffff
                margin-right: 10px
